/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto&display=swap");

/* Global Styles  */
:root {
  --blue: rgb(105, 110, 222);
  --light_blue: rgb(163, 168, 240);
}

body {
  font-family: "Montserrat", sans-serif;
}

/*  */
.main_container {
  width: 90vw;
  position: relative;
  margin: 50px auto;
  border: 1px solid #bdbdbd;
  background-color: #f5f5f5;
  background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 100%, 100% 0%;
  background-size: auto 35%, auto 75%;
}

h1 {
  color: #707190;
  margin: 10vh 0 5vh 0;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.package_switch_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.package_text {
  color: #a6a6b1;
  font-size: 0.9rem;
  font-weight: 600;
}

/* Create Toggle Button */
.switch input {
  opacity: 0.5;
  width: 46px;
  height: 26px;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 2vw;
  width: 54px;
  height: 30px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
  background: linear-gradient(to right, var(--light_blue), var(--blue));
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  right: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider:before {
  transform: translateX(-24px);
}

/* Basic Card Style */
.cards_container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 8vh 0 14vh 0;
}

.card {
  width: 22vw;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px rgba(233, 233, 233, 0.5);
  align-self: center;
}

.card_title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 4vh;
  color: #75788d;
}

.card h3 {
  color: #464b5f;
  font-size: 3.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
  margin: 3vh 0;
}

.dollar {
  font-size: 2.2rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2vh;
}

.card ul li {
  width: 80%;
  color: #71747d;
  font-size: 0.8rem;
  font-weight: 600;
}

hr {
  width: 80%;
  height: 1px;
  background-color: #dfdff5;
}

.card_1 {
  border-radius: 10px 0 0 10px;
}

.card_3 {
  border-radius: 0 10px 10px 0;
}

.btn {
  font-size: 0.8rem;
  font-weight: 700;
  color: rgb(237, 237, 251);
  background: linear-gradient(to right, var(--light_blue), var(--blue));
  margin: 4vh 0;
  padding: 2vh;
  width: 80%;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #fff;
}
.btn:hover {
  color: rgb(126, 126, 191);
  border: 1px solid rgb(126, 126, 191);
  background: #fff;
}

/* Active Card Style */
.card_active {
  background: linear-gradient(to bottom, var(--light_blue), var(--blue));
  padding: 3vh 0;
  border-radius: 10px;
  color: #fff;
}

.card_active hr {
  background-color: rgb(155, 161, 247);
}

.card_active .btn {
  color: rgb(132, 127, 191);
  background: #fff;
  border: 1px solid #fff;
}

.card_active .btn:hover {
  background: linear-gradient(to right, var(--light_blue), var(--blue));
  color: #fff;
  border: 1px solid #fff;
}

.card_active h3,
.card_active h2,
.card_active ul li {
  color: rgb(255, 254, 255);
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    margin-bottom: 2vh;
  }

  .cards_container {
    flex-direction: column;
    gap: 8vh;
    margin: 8vh auto;
  }

  .main_container {
    background-image: url("../images/bg-top.svg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-position: top -40px right -180px;
    background-size: auto;
  }

  .card {
    width: 80vw;
    border-radius: 10px;
    padding: 3vh 0;
  }

  .card ul li {
    padding: 2vh;
  }

  .card ul {
    margin: 2vh 0;
  }

  h1 {
    margin-bottom: 6vh;
  }
}
